* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: antiquewhite
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url(../imagenes/background.jpg);
}