$Black:#000;
$Violeta: rgb(173, 10, 152);
$Dark_violeta: rgb(104, 27, 85);
$Gris: rgb(121, 116, 116);
$Gris_claro: rgb(165, 161, 161);
$Gris_oscuro: rgb(69, 68, 70);
$Dark: #8000;
$Blanco:antiquewhite;